// @import url(~/ass );
* {
    @include font_color();
  }
  .my-vhtml img{
    display: block;
    margin:0 auto;
    max-width: 756px;
    border-radius: 15px;
    border: 1px solid #ddd;
  }
  .my-vhtml ol,
  .my-vhtml ul,
  .my-vhtml li {
    list-style:circle;
  }
  .my-vhtml h1,
  .my-vhtml h2,
  .my-vhtml h3,
  .my-vhtml h4,
  .my-vhtml h5,
  .my-vhtml h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
  }
  .my-vhtml h1:hover a.anchor,
  .my-vhtml h2:hover a.anchor,
  .my-vhtml h3:hover a.anchor,
  .my-vhtml h4:hover a.anchor,
  .my-vhtml h5:hover a.anchor,
  .my-vhtml h6:hover a.anchor {
    text-decoration: none;
  }
  .my-vhtml h1 tt,
  .my-vhtml h1 code {
    font-size: inherit;
  }
  .my-vhtml h2 tt,
  .my-vhtml h2 code {
    font-size: inherit;
  }
  .my-vhtml h3 tt,
  .my-vhtml h3 code {
    font-size: inherit;
  }
  .my-vhtml h4 tt,
  .my-vhtml h4 code {
    font-size: inherit;
  }
  .my-vhtml h5 tt,
  .my-vhtml h5 code {
    font-size: inherit;
  }
  .my-vhtml h6 tt,
  .my-vhtml h6 code {
    font-size: inherit;
  }
  .my-vhtml h1 {
    padding-bottom: 0.3em;
    font-size: 2.75em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
  }
  .my-vhtml h2 {
    padding-bottom: 0.3em;
    font-size: 2em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
  }
  .my-vhtml h3 {
    font-size: 1.75em;
    line-height: 1.43;
  }
  .my-vhtml h4 {
    font-size: 1.5em;
  }
  .my-vhtml h5 {
    font-size: 1.25em;
  }
  .my-vhtml h6 {
    font-size: 1em;
    color: #777;
  }
  .my-vhtml p,
  .my-vhtml blockquote,
  .my-vhtml ul,
  .my-vhtml ol,
  .my-vhtml dl,
  .my-vhtml table {
    margin: 1.25em 0;
    line-height: 1.5em;
  }
  .my-vhtml li > ol,
  .my-vhtml li > ul {
    margin: 0 0;
  }
  .my-vhtml hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
  }
  
  .my-vhtml li p.first {
    display: inline-block;
  }
  .my-vhtml ul,
  .my-vhtml ol {
    padding-left: 30px;
  }
  .my-vhtml ul:first-child,
  .my-vhtml ol:first-child {
    margin-top: 0;
  }
  .my-vhtml ul:last-child,
  .my-vhtml ol:last-child {
    margin-bottom: 0;
  }
  .my-vhtml blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
  }
  .my-vhtml blockquote blockquote {
    padding-right: 0;
  }
  .my-vhtml table {
    padding: 0;
    word-break: initial;
  }
  .my-vhtml table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
  }
  .my-vhtml table tr:nth-child(2n),
  .my-vhtml thead {
    background-color: #f8f8f8;
  }
  .my-vhtml table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
  }
  .my-vhtml table tr td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
  }
  .my-vhtml table tr th:first-child,
  .my-vhtml table tr td:first-child {
    margin-top: 0;
  }
  .my-vhtml table tr th:last-child,
  .my-vhtml table tr td:last-child {
    margin-bottom: 0;
  }
  
  .my-vhtml .CodeMirror-lines {
    padding-left: 4px;
  }
  
  .my-vhtml .code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0, 28, 36, 0.3);
    border-top: 1px solid #eef2f2;
  }
  
  .my-vhtml .md-fences,
  .my-vhtml code,
  .my-vhtml tt {
    border: 1px solid #e7eaed;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
  }
  
  .my-vhtml code {

    @include bg_sub_color();
    padding: 0 2px 0 2px;
    line-height: 1.25em;
  }
  
  .my-vhtml .md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
  }
  
  .my-vhtml .md-task-list-item > input {
    margin-left: -1.3em;
  }
  
  @media print {
    html {
        font-size: 13px;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
  }
  
  .md-fences {
    background-color: #f8f8f8;
  }
  #write pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
  }
  
  .mathjax-block > .code-tooltip {
    bottom: 0.375rem;
  }
  
  .md-mathjax-midline {
    background: #fafafa;
  }
  
  #write > h3.md-focus:before {
    left: -1.5625rem;
    top: 0.375rem;
  }
  #write > h4.md-focus:before {
    left: -1.5625rem;
    top: 0.285714286rem;
  }
  #write > h5.md-focus:before {
    left: -1.5625rem;
    top: 0.285714286rem;
  }
  #write > h6.md-focus:before {
    left: -1.5625rem;
    top: 0.285714286rem;
  }
  .md-image > .md-meta {
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
  }
  
  .md-tag {
    color: #a7a7a7;
    opacity: 1;
  }
  
  .md-toc {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  
  .sidebar-tabs {
    border-bottom: none;
  }
  
  #typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
  }
  
  #typora-quick-open-item {
    background-color: #fafafa;
    border-color: #fefefe #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
  }
  
  /** focus mode */
  .on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
  }
  
  header,
  .context-menu,
  .megamenu-content,
  footer {
    font-family: 'Segoe UI', 'Arial', sans-serif;
  }
  
  .file-node-content:hover .file-node-icon,
  .file-node-content:hover .file-node-open-state {
    visibility: visible;
  }
  
  .mac-seamless-mode #typora-sidebar {
    background-color: #fafafa;
    background-color: var(--side-bar-bg-color);
  }
  
  .md-lang {
    color: #b4654d;
  }
  
  .html-for-mac .context-menu {
    --item-hover-bg-color: #e6f0fe;
  }
  
  #md-notification .btn {
    border: 0;
  }
  
  .dropdown-menu .divider {
    border-color: #e5e5e5;
  }
  
  .ty-preferences .window-content {
    background-color: #fafafa;
  }
  
  .ty-preferences .nav-group-item.active {
    color: white;
    background: #999;
  }
